body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        margin: 20px;
        background-color: #f4f4f4;
        color: #333;
    }

    header {
        background-color: #009688;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    h1 {
        margin: 0;
    }

    h2, h3 {
        color: #009688;
    }

    section {
        margin-top: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 5px;
    }

    article {
        margin-bottom: 20px;
    }

    #skills ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
	
	.contact-icons {
            margin-top: 10px;
        }

        .contact-icons a {
            text-decoration: none;
            color: #fff;
            margin: 0 10px;
            font-size: 24px;
        }
